.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  background-color: transparent;
  border-color: #08a0ad;
  cursor: pointer;
  color: #05464c;
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 10px #08a0ad, 0 0 5px #05464c;
  }
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Bright {
  background-color: #08a0ad;
}

.Text {
  color: #ffff;
}
